:root {
    --preto: #000000;
    --preto-transparente: #0000000F;
    --cinza: #909090;
    --branco: #fff;
    --amarelo: #FFCB47;
    --amarelo-transparente: #FFCB4703;

    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-personalizada: 'Elsie Swash Caps', cursive;

    --peso-botao: 700;
    --peso-destaque: 700;
    --peso-titulo-destaque: 900;

    --tamanho-titulo: 1.375rem;
    --tamanho-titulo-destaque: 2rem;
    --tamanho-destaque: 1.375rem;
}
